version: '3.8'
services:
  bot:
    build: .
    restart: always
    volumes:
      # Монтируем firebase-service-account.json из корня сервера
      - ../firebase-service-account.json:/app/firebase-service-account.json:ro
